/* Tanis Olesen
02/02/2021 */

body {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    grid-template-areas: "Aside Main";
}

@media (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "Aside" "Main";
    }
}

aside {
    margin: 0;
    padding: 0;
    border: 0;
    grid-area: Aside;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "Contact_Information" "Skills" "Education";
}

main {
    margin: 0;
    padding: 0;
    border: 0;
    grid-area: Main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 85%;
    grid-template-areas: "summary" "work_experience";
}

#Name {
    font-size: 2em;
    margin-bottom: 0.1em;
    padding-bottom: 0;
}

#Carrer_Title {
    font-size: 1.2em;
    margin-top: 0;
    margin-left: 1em;
    padding-top: 0;
}

#aside_header {
    grid-area: header;
}

#Contact_Information {
    grid-area: Contact_Information;
}

#Skills {
    grid-area: Skills;
}

#Education {
    grid-area: Education;
}

#summary {
    grid-area: summary;
}

#Work_Volunteer_Experience {
    grid-area: work_experience;
}